header[role="banner"]{
    background-color:#ffff00;
}
.region-primary-menu {
    background-color:#ff00ff;
}

.region-secondary-menu {
    background-color:#00ff00;
}

.region-highlighted {
    background-color:#555555;
}
.region-highlighted {
    background-color:#ffff00;
}
.region-breadcrumb {
    color:#ffffff;
    background-color:#000000;
}
main .layout-content {
    background-color:#ff00ff;
}

main .layout-sidebar-first {
    background-color:#ffff00;
}

main .layout-sidebar-second {
    background-color:#ff0000;
}

footer {
    background-color:#115533;
    min-height:300px;
}
/* --------------- */



main {
    min-height:500px;
    clear:both;
 }
.container {
     margin-right: auto;
     margin-left: auto;
     padding-left: 15px;
     padding-right: 15px;
 }
 main .layout-sidebar-first {
    clear:both;
}
.block-system-branding-block {
    float:left;
}
.menu--main {
    clear:both;
}
ul.menu {
    margin-left:0em;
    list-style:none;
    text-align:left;
}
ul.menu li {
    display:inline-block;
    float:left;
    margin-right:1em;
}
ul.menu li:last-child {
    margin-right:0em;
}
.menu--account {
    float:right;
    display:none;
}

#block-nieuweggz-branding {
    margin-left: calc(50vw - 150px);
    width: 300px;
}

@media (min-width: 900px) { 
   #block-responsivemenumobileicon {
       display:none;
   }
   #block-nieuweggz-main-menu {
       display:block;
   }
}
@media (max-width: 899.98px) { 
    #block-responsivemenumobileicon {
        display:block;
    }
    #block-nieuweggz-main-menu {
        display:none;
    }

}



// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) { 


}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) { 
    .layout-sidebar-second {
        width:25%;
        float:left;
    }
    .layout-content {
        width:75%;
        float:left;
    }
    .container {
        width:750px;
    }
 }

// Large devices (desktops, 992px and up)
@media (min-width: 992px) { 
    .container {
        width:970px;
    }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { 

   .container {
        width:1170px;
    }

 }